
#databaseButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#sposta_button-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#select_button-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#deselect_button-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#filterButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#searchButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#undoButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#excelButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#excelButtonTot-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#PvAnalysisButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#ParAnalysisButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#brandsAnalysisButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#ParAzAnalysisButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#brandsAnalysisAzButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#servicesAnalysisButton-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#KButton-btnIconEl{
	width: 65px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#reg_button-btnIconEl{
	width: 42px;
	height: 50px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#prov_button-btnIconEl{
	width: 42px;
	height: 50px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#com_button-btnIconEl{
	width: 42px;
	height: 50px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#cap_button-btnIconEl{
	width: 42px;
	height: 50px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#logout_button-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#exportStat-btnIconEl{
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#FirstButton-btnIconEl{
	width: 18px;
	height: 24px;
	top: -3;
	left: 0;
	bottom: 0;
	right: 0
}
#BackButton-btnIconEl{
	width: 18px;
	height: 24px;
	top: -3;
	left: 0;
	bottom: 0;
	right: 0
}
#NextButton-btnIconEl{
	width: 22px;
	height: 24px;
	top: -3;
	left: -5;
	bottom: 0;
	right: 0
}
#LastButton-btnIconEl{
	width: 23px;
	height: 24px;
	top: -3;
	left: -5;
	bottom: 0;
	right: 0
}
#PDFButton-btnIconEl{
	width: 24px;
	height: 30px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
